node_modules
# Keep environment variables out of version control
.env
# Ignore uploaded files
uploads/
# Ignore WhatsApp authentication files
auth_baileys_sessions/
# Ignore WhatsApp credentials
*_auth_info.json
*_auth_info_*
*_store.json
