@import "tailwindcss";

[class*="translate-x"] {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-spin-slow {
  animation: spin-slow 1.5s linear infinite;
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}
